.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.Header {
  color: black;
  text-shadow: 5px 5px 5px white;
  font-weight: bold;
  font-size: 8em;
  font-family: "Faster One", cursive;
}
/* write your parent styles in here for your App.js */

.charContainer {
  background-color: rgba(203, 230, 82, 0.5);
  border-radius: 10px;
}

.characters {
  list-style: none;
  font-size: 2rem;
  border-bottom: 1px solid black;
  font-family: "Aldrich", sans-serif;
  font-weight: bold;
}

.characters:hover {
  cursor: pointer;
  background-color: yellow;
}

.characters:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container {
  background-color: rgba(203, 230, 82, 0.5);
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: "Aldrich", sans-serif;
}

.keys {
  width: 48%;
  font-size: 2rem;
}

.values {
  width: 48%;
  font-size: 2rem;
}

.theKeys {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.theValues {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.previous {
  background-color: rgba(203, 230, 82, 0.5);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px black;
  margin: 10px;
  padding: 10px;
  font-family: "Aldrich", sans-serif;
}

.previous:hover {
  cursor: pointer;
  background-color: yellow;
}

.previous:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.next {
  background-color: rgba(203, 230, 82, 0.5);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px black;
  margin: 10px;
  padding: 10px;
  font-family: "Aldrich", sans-serif;
}

.next:hover {
  cursor: pointer;
  background-color: yellow;
}

.next:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
