body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://media1.tenor.com/images/272dd4be81ba7b4c056425684087ebd9/tenor.gif?itemid=5612531');
  background-size: cover;
}
